:root{
    --cell-size: 30px;
}



.grid-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--cell-size) * 8);
    height: calc(var(--cell-size) * 8);
    box-shadow: inset;
}



.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border-color: #7a787b;
    border-width: 1px;
    border-style: solid;

}

.cell.bomb{
    background-color: red;
}

.cell.no-bomb{
    background-color: blue;
}

